{% exctend 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<!--Someone asked for password reset for email {{ email }}. Follow the link below:
{{ protocol}}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}-->

    <div  class="card">
        <div  class="card-body">
        
        <h4  class="card-title">Reset your password</h4>

            <form  method="POST">
                {% csrf_token %}

                <input  type="hidden"  name="next"  value="{{ next }}">
                {{ form|crispy }}
                
                <button  type="submit"  class="btn btn-primary btn-block">Reset</button>
            </form>
        </div>
    </div>

{% endblock %}
