{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Sign up{% endblock %}

{% block content %}

    <div class="card">

        <div class="card-body">

        <h4 class="card-title">Регистрация</h4>
        
            <form method="POST">

                {% csrf_token %}

                <!-- <input type="hidden" name="next" value="{{ next }}"> -->
                
                {{ form|crispy }}
                
                <button type="submit" class="btn btn-primary btn-block">Sign up</button>

            </form>
        
        </div>
    
    </div>
    
{% endblock %}