{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{% block title %}base{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'static/css/bootstrap.min.css' %}">
    <script src="{% static 'static/js/jquery.min.js' %}"></script>
    <script src="{% static 'static/js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'static/css/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'static/css/font-awesome.min.css' %}"/>

    {% block head %}
    {% endblock %}

</head>
<body>

{% include 'header.html' %}

{% block main %}
{% endblock %}

{% block blog %}
{% endblock %}

{% block search_local %}
{% endblock %}

{% block content %}
kek
{% endblock %}

{% block paginat %}
{% endblock %}


{% if request.user.is_authenticated and request.user.is_staff %}
    <div class="admin-panel align-items-center">
    <a href="/admin" class="btn btn-outline-info">Admin</a>

    {% block admin-panel %}
    {% endblock %}

    </div>

{% endif %}

</body>
</html>
